cryptography==44.0.3
fastapi==0.115.12
httpx==0.28.1
passlib==1.7.4
plotly==6.0.1
pydantic==2.11.4
pyinstaller==6.13.0
pytest==8.3.5
python-dotenv==1.1.0
python-jose==3.4.0
python-multipart==0.0.20
pytz==2025.2
SQLAlchemy==2.0.40
streamlit==1.45.0
streamlit-calendar==1.2.1
uvicorn==0.34.2
#fastapi
#uvicorn
#sqlalchemy
#pydantic
#pytz
#pytest
#httpx
#streamlit>=1.25.0
#streamlit_calendar == 1.2.1
#plotly
#passlib
#python-multipart
#python-dotenv
#python-jose[cryptography]
#pyinstaller
